@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

$color_electric_red: #E60000;
$color_gunmetal: #292f46;
$color_dark_electric_blue: #636B82;
$color_crayola: #A2ACBF;

.color-red-electric {
  color: $color_electric_red;
}

.color-gunmetal {
  color: $color_gunmetal;
}

.color-blue-dark-electric {
  color: $color_dark_electric_blue;
}

.color-crayola {
  color: $color_crayola;
}