$color_electric_red: #E60000;
$color_gunmetal: #292f46;
$color_dark_electric_blue: #636B82;
$color_crayola: #A2ACBF;
$color_anti_flash_white: #F2F3F7;
$color_gunmetal_rgb: rgb(41, 47, 70);

.color-red-electric {
  color: $color_electric_red;
}

.color-gunmetal {
  color: $color_gunmetal;
}

.color-blue-dark-electric {
  color: $color_dark_electric_blue;
}

.color-crayola {
  color: $color_crayola;
}

.bg-anti-flash-white {
  background-color: $color_anti_flash_white;
}

.bg-heart-active-icon {
  fill: #E60000;
}