@import 'globals';

.menu_items {
  display: flex;
  color: $color_dark_electric_blue;

  svg {
    width: 1.4em;
    height: 1.4em;
  }

  &.active {
    p {
      color: $color_gunmetal;
      font-weight: bold;
    }

    svg {
      color: $color_electric_red;
    }
  }
}

.song_liked {
  fill: $color_electric_red;
}

.default_song_liked {
  fill: $color_gunmetal;
}

.searchbar {
  position: relative;

  input {
    background: $color_anti_flash_white;
    outline: none;
    border-radius: 1.5rem;
    padding: .5rem 0 .5rem 2.6rem;
    width: 100%;
  }

  svg {
    position: absolute;
    left: .8rem;
    color: $color_gunmetal;
  }
}