@import 'variables';

.menu_items {
  display: flex;
  color: $color_dark_electric_blue;

  svg {
    width: 1.4em;
    height: 1.4em;
  }

  &.active {
    p {
      color: $color_gunmetal;
      font-weight: bold;
    }

    svg {
      color: $color_electric_red;
    }
  }
}

.song_liked {
  fill: $color_electric_red;
}

.default_song_liked {
  fill: $color_gunmetal;
}

.searchbar {
  position: relative;

  input {
    background: $color_anti_flash_white;
    outline: none;
    border-radius: 1.5rem;
    padding: .5rem 0 .5rem 2.6rem;
    width: 100%;
  }

  svg {
    position: absolute;
    left: .8rem;
    color: $color_gunmetal;
  }
}

.play_album_artist {
  position: relative;

  .play_button {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba($color_gunmetal_rgb, .2);
    transform: translate(6.5rem, -4.1rem);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
  }

  &:hover {
    .play_button {
      background: rgba($color_gunmetal_rgb, 1);
    }

    svg {
      color: $color_anti_flash_white;
    }
  }
}

.play_popular_song_button {
  position: relative;

  .play_button {
    position: absolute;
    width: 35px;
    height: 35px;
    background: transparent;
    transform: translate(2.2rem, 0);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
  }

  svg {
  opacity: .1;
  }

  &:hover {
    .play_button {
      background: rgba($color_gunmetal_rgb, 1);
    }

    svg {
      opacity: 1;
      color: $color_anti_flash_white;
    }
  }
}